.my-0  {
  margin-top: 0;
  margin-bottom: 0;
}

.m-auto {
  margin: 0 auto !important;  
}

.m-1  {
  margin: 1rem!important;  
}

.m-2  {
  margin: 2rem!important;  
}

.mb-2  {
  margin-bottom: 10px!important;  
}

.my-1  {
  margin: 10px 0 !important;  
}

.mt-2  {
  margin-top: 10px!important;  
}

.panel-body {
  padding: 4px !important;
  background-color: white;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.fw-normal {
  font-weight: normal;
}

.text-white {
  color: white
}

.text-yellow {
  color: #ffab40
}

.panel {
  margin-top: 20px;
  overflow: hidden;
}

.panel-default {
  border: 1px solid #9e9e9e !important;
  background-color:#9e9e9e;
}

.panel-default .panel-header {
  color:#fff !important
}

.panel-success {
  border: 1px solid #dff0d8 !important;
  background-color:#dff0d8;
}

.panel-success .panel-header {
  color:#437c45 !important
}

.panel-danger {
  border: 1px solid #f2dede !important;
}

.panel-header {
  padding: 1.5rem 0 !important;
}

.panel-title {
  font-size: 17px;
}

.panel-desc {
  font-size: 14px;
}

.panel-desc span {
  font-size: 18px;
}

.stars {
  font-size: 15px;
}

.list-group-item {
  border-radius: 0px !important;
  border: none !important;
  border-top: 1px solid #f0f0f0 !important;
  border-bottom: 1px solid #f0f0f0 !important;
  display: flex !important;
  align-content: center;
  padding: 20px 15px !important;
}

.icon-list {
  margin: 0 16px;
  font-size: 20px;
  margin: 0;
  width: 50px;
  text-align: center;
  color: #ffab40
}

.custom-list {
  list-style: none;
  padding-inline-start: 10px;
}

.custom-list li:before {
  padding-right: 7px;
  font-size: 10px;
  color: #3e773f;
  content: "\e013";
  font-family: 'Glyphicons Halflings';
}

.label-no-dispo {
  padding-left: 26px;
  color: darkgray;
  font-style: italic;
}


.row {
  display: table;
}

.row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.glyphicon-c-check:before {  
  content: "\e013";
  color: white;
}

p.alert-success, p.alert-danger {
  padding: 3px 0 !important;
  margin: 0 !important;
  font-size: 11px;
}